$background: #424c5e;
$foreground: #c5c5c5;
$secondary: #171718;
$danger: #ff5555;
$other: #c5c5c5;
$border-radius: 8px;
$box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
$icon-font: "DejaVuSansM Nerd Font";
$title-font-size: 20px;
